{% extends 'base.html.twig' %}

{% block title %}specialites
{% endblock %}

{% block content %}
	<div class="page-wrapper">
		<div class="content container-fluid pb-0">
			<h4 class="mb-3">Specialites</h4>
			<div class="row">


				<div class="page-header">
					<div class="row align-items-center">
						<div class="col-md-12 d-flex justify-content-end">

							<div class="text-right">
								<a class="btn btn-primary btn-add" style="width:190px" href="{{ path('app_specialites_new') }}">
									<i class="feather-plus-square me-1"></i>
									Ajouter Specialite
								</a>
							</div>
						</div>
					</div>


				</div>

				<div class="card">


					<table class="table datatable-basic table table-borderless hover-table" id="datatable">
						<div class="card-body">

							<div class="header-elements">

								<thead class="thead-light">

									<th>Id</th>
									<th colspan="2">
										<center>Nom</center>
									</th>
									<th>Description</th>
									
									<th colspan="3">
										<center>Actions</center>
									</th>
								</thead>
								<tbody>
									{% for specialite in specialites %}
										<tr>
											<td>{{ specialite.id }}</td>
											<td colspan="2">
												<h2 class="table-avatar">
													<a href="#" class="spl-img">
														<img <center> {% for image in specialite.images|slice(0, 1) %} <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="40" height="40" /> {% endfor %} </center>
															<a href="#">
																<span>{{ specialite.nom }}</span>
															</a>
														</h2>
											</td>


													<td>{{ specialite.description }}</td>
													<td></td>
													<td></td>
													<td class="text-end">
														<div class="actions">
															<a class="btn btn-info btn-add" style="width:150px" href="{{ path('app_specialites_edit', {'id': specialite.id}) }}">
																<i class="feather-plus-square me-1"></i>

															</a>
															{{ include('specialites/_delete_form.html.twig') }}

														</div>
													</td>
												</tr>
											{% else %}
												<tr>
													<td colspan="20">no records found</td>
												</tr>
											{% endfor %}
										</tr>
									</tbody>
								</tbody>
							</table>

						</div>
					</div>
				</div>
			{% endblock %}
