{% extends 'basedashboard.html.twig' %}
{% block title %}
Nouveau article
{% endblock %}
{% block content %}
	<div class="col-lg-8 col-md-16">
		<div class="onboarding-content-box">
			<div class="onboarding-title profile-title">
				<div class="blog-view">
					<div class="blog-single-post">
						<a href="{{ path('app_article_mine') }}" class="back-btn">
							<i class="feather-chevron-left"></i>
							Liste des articles</a>
						 <div class="blog-image">
                                       <img <center> {% for image in article.images|slice(0, 1) %} <img src="{{ asset('/uploads/'~image.name) }}" /> {% endfor %}</a>
                         </div>
						<h3 class="blog-title">{{article.nom }}</h3>
						<div class="blog-info">
							<div class="post-list">
								<ul>
									<li>
										   <div class="post-author">
                                            <a href="profile.html">
                                                <img src="{{asset('admin/assets/img/profiles/avatar-02.jpg')}}" alt="Post Author" >
                                                <span>by Dr. Lester
												</span>
											</a>
										</div>
									</li>
									<li>
											<i class="far fa-calendar"></i>{{article.date|date ('d/m/y') }}</li>
										<li>
										<i class="feather-message-circle"></i>
										40 Comments</li>
									<li>
										<i class="feather-package"></i>
										Topical chemotherapy, Gynacologist</li>
								</ul>
							</div>
						</div>
						<div class="blog-content">
                        	{{article.description}}
                        </div>
					</div>

					

<div class="card blog-comments clearfix">
							<div class="card-header">
								<h4 class="card-title">Commentaires (12)</h4>
							</div>
							{%for commentaire in commentaires %}
							<div class="card-body pb-0">
								<ul class="comments-list">
									<li>
										<div class="comment">
											<div class="comment-author">
												<img class="avatar" alt="" src="assets/img/patients/patient4.jpg">
											</div>
											<div class="comment-block">
												<span class="comment-by">
													<span class="blog-author-name">{{commentaire.article.nom }}</span>
												</span>
												<p>{{commentaire.message }}</p>
												<p class="blog-date">Dec 6, 2017</p>
												
											</div>
										</div>
										
									</li>
								
									
								</ul>
							</div>
							{%endfor %}
						</div>


					
					
				</div>
                
			</div>

			</div>
        </div>
    </div>  
			


 

								
{% endblock %}