
{% extends 'base.html.twig' %}
{% block title %}
    Dawini
{% endblock %}
{% block css %}
    {{parent()}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link href="{{asset('admin/assets/img/favicon.png')}}" rel="icon">
    <link rel="stylesheet" href="{{asset('admin/assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('admin/assets/plugins/fontawesome/css/fontawesome.min.css')}}">
    <link rel="stylesheet" href="{{asset('admin/assets/plugins/fontawesome/css/all.min.css')}}">
    <link rel="stylesheet" href="{{asset('admin/assets/css/feather.css')}}">
    <link rel="stylesheet" href="{{asset('admin/assets/css/style.css')}}">
{% endblock %}
{%block content%}
    <div class="page-wrapper" style="width: 919px;">
        <div class="content container-fluid pb-0">
            <div class="card">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb"></ol>
                    </nav>
                </div>
                <div class="content">
                    <div class="container-fluid">
                        <div class="row" style="justify-content: center;">
                            <div class="page-header">
                                <div class="row align-items-center">
                                    <div class="col-md-12 d-flex justify-content-end">
                                        <div class="text-right">
                                            <a class="btn btn-primary btn-add" style="width:190px" href="{{ path('app_commentaire_index') }}">
                                                <i class="feather-corner-up-left "></i>
                                                Liste Commentaire
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="card">
                            <div class="card-body">
                                  <h1>Commentaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaire.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ commentaire.date ? commentaire.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ commentaire.message }}</td>
            </tr>
        </tbody>
    </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
{%block script%}
    {{parent()}}
    <script src="{{asset('admin/assets/js/jquery-3.6.0.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/feather.min.js')}}"></script>
    <script src="{{asset('admin/assets/js/script.js')}}"></script>
{%endblock%}