{% extends 'base.html.twig' %}
{% block title %}Modifier article
{% endblock %}

{% block content %}
	<h1>Modifier article</h1>

	<a href="{{ path('app_article_index') }}">back to list</a>

	<div class="page-wrapper">

		<div class="content container-fluid">

			<div class="row" style="justify-content: center;">
				<div class="col-md-6">

					<div class="card">

						<div class="card-body pt-0">
							<div class="card-header">
								<h5 class="card-title">Modifier article</h5>
							</div>
							{{ form_start(form) }}
							<div class="settings-form">

								<div class="col-md-6">
									<div class="form-group">
										<label>Nom
											<span class="star-red">*</span>
										</label>
										{{ form_widget(form.nom, {attr:{'class':'form-control'}}) }}
									</div>
								</div>
								<div class="form-group">
									<label>Description
										<span class="star-red">*</span>
									</label>
									{{ form_widget(form.description, {attr:{'class':'form-control bg-grey floating'}}) }}
								</div>

								<div class="change-photo-btn  bg-grey">
									<div>
										<i class="feather-upload"></i>
										<p>Upload File</p>
									</div>
									{{ form_widget(form.images, {attr:{'class':'upload'}}) }}
								</div>

								<div class="upload-file">
									<h6>Les Images</h6>

									<div
										class="up-img">
										{# Si la route est app_article_edit on affiche les images #}
										{% if app.request.attributes.get('_route') == 'app_article_edit' %}

											<div
												class="col-sm-10">
												{# up-img #}
												{% for image in  article.images %}


													<img
													src="{{ asset('/uploads/'~image.name) }}" alt="" width="150px" height="150px"/>

													{# <a class="btn edit btn-danger"  href ='{{path('image_delete_article',{id: image.id}) }}' ><i class="icon-trash-alt"></i></a>            #}
													<a href='{{path('image_delete_article',{id: image.id}) }}' class="close icon text-danger ">
														<i class="feather-x-circle "></i>
													</a>
													{# {% endfor %}
													  
													 {% endif %} #}


												{% endfor %}
											{% endif %}
										</div>


										<div class="col-12">
											<div class="doctor-submit text-end">
												<div class="text-right">
													{{ form_row(form.Enregistrer , {attr:{'class':'btn btn-primary save-btn'}}) }}


												</div>
											</div>
										</div>
									</div>
									{{ form_end(form) }}
								</div>
								<center></div>

							</div>


						</div>

					{% endblock %}

