{% extends 'base.html.twig' %}


{% block title %}articles
{% endblock %}

{% block content %}
	<div class="page-wrapper">
		<div class="content container-fluid pb-0">
			<h4 class="mb-3">Articles</h4>
			<div class="row">


				<div class="page-header">
					<div class="row align-items-center">
						<div class="col-md-12 d-flex justify-content-end">

							<div class="text-right">
								<a class="btn btn-primary btn-add" style="width:190px" href="{{ path('app_article_new') }}">
									<i class="feather-plus-square me-1"></i>
									Ajouter Article
								</a>
							</div>
						</div>
					</div>


				</div>

				<div class="card">


					<table class="table datatable-basic table table-borderless hover-table" id="datatable">
						<div class="card-body">

							<div class="header-elements">

								<thead>
									<tr>
										<th>Id</th>
										<th colspan="2">
											<center>Nom</center>
										</th>
										<th>Images</th>
										<th>Description</th>
										<th colspan="3">
											<center>Actions</center>
										</th>
									</tr>
								</thead>
								<tbody>
									{% for article in articles %}
										<tr>
											<td>{{ article.id }}</td>
											<td>{{ article.nom }}</td>
                                            <td colspan="2">
												
													
														<img <center> {% for image in article.images|slice(0, 1) %} <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="40" height="40" /> {% endfor %} </center>
															
																
															
														
											</td>


											
											<td>{{ article.description|slice(0,30) }}</td>
											<td class="text-end">
												<div class="actions">
													
	
												<a href="{{ path('app_article_show', {'id': article.id}) }}" class="btn btn-sm bg-primary-light">
													<i class="far fa-eye"></i>
												</a>

												&nbsp;
												<a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-sm bg-info-light">
													<i class="far fa-edit"></i>
													</a> 
														&nbsp;
													{{ include('article/_delete_form.html.twig') }}




												</div>
											</td>

										</tr>
									{% else %}
										<tr>
											<td colspan="4">no records found</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>

						</div>
					</div>
				</div>
			{% endblock %}
